*.txt  text eol=crlf working-tree-encoding=UTF-8 no-bom
*.json text eol=crlf working-tree-encoding=UTF-8 no-bom
*.js   text eol=crlf working-tree-encoding=UTF-8 no-bom
*.md   text eol=crlf working-tree-encoding=UTF-8 no-bom

*      text=auto
