*.txt  text eol=crlf working-tree-encoding=UTF-8
*.json text eol=crlf working-tree-encoding=UTF-8
*.js   text eol=crlf working-tree-encoding=UTF-8
*.md   text eol=crlf working-tree-encoding=UTF-8

*      text=auto